body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #202c6a;
}

header {
    background-color: #202c6a;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
    letter-spacing: 1px;
}

header h1 {
    color: white !important;
}

nav {
    background-color: #78acde; 
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 12px 20px;
    border-radius: 40px;
    margin: 20px auto;
    width: fit-content;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

nav button {
    background: transparent;
    border: none;
    font-size: 16px;
    color: #202c6a; 
    cursor: pointer;
    font-weight: normal;
    transition: all 0.3s ease;
}

nav button:hover {
    font-weight: bold;
    color: #ffffff; 
}

nav button.active {
    font-weight: bold;
    color: #ffffff;
}

#content {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f4f9ff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(32, 44, 106, 0.1);
}

.content-box {
    display: none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.content-box.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

h1, h2 {
    color: #202c6a;
}

ul {
    text-align: left;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

h1, h2, h3, nav button {
    font-family: 'Poppins', sans-serif;
}
